<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jwebservice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Offices</display-name>
    <servlet-name>Offices</servlet-name>
    <servlet-class>Offices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Offices</servlet-name>
    <url-pattern>/Offices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOffice</display-name>
    <servlet-name>GetOffice</servlet-name>
    <servlet-class>GetOffice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOffice</servlet-name>
    <url-pattern>/GetOffice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetOffice</display-name>
    <servlet-name>SetOffice</servlet-name>
    <servlet-class>SetOffice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetOffice</servlet-name>
    <url-pattern>/SetOffice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertOffice</display-name>
    <servlet-name>InsertOffice</servlet-name>
    <servlet-class>InsertOffice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOffice</servlet-name>
    <url-pattern>/InsertOffice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOffice</display-name>
    <servlet-name>DeleteOffice</servlet-name>
    <servlet-class>DeleteOffice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOffice</servlet-name>
    <url-pattern>/DeleteOffice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginBase</display-name>
    <servlet-name>LoginBase</servlet-name>
    <servlet-class>LoginBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginBase</servlet-name>
    <url-pattern>/LoginBase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfficesBase</display-name>
    <servlet-name>OfficesBase</servlet-name>
    <servlet-class>OfficesBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfficesBase</servlet-name>
    <url-pattern>/OfficesBase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertOfficeBase</display-name>
    <servlet-name>InsertOfficeBase</servlet-name>
    <servlet-class>InsertOfficeBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOfficeBase</servlet-name>
    <url-pattern>/InsertOfficeBase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOfficeBase</display-name>
    <servlet-name>GetOfficeBase</servlet-name>
    <servlet-class>GetOfficeBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOfficeBase</servlet-name>
    <url-pattern>/GetOfficeBase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetOfficeBase</display-name>
    <servlet-name>SetOfficeBase</servlet-name>
    <servlet-class>SetOfficeBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetOfficeBase</servlet-name>
    <url-pattern>/SetOfficeBase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOfficeBase</display-name>
    <servlet-name>DeleteOfficeBase</servlet-name>
    <servlet-class>DeleteOfficeBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOfficeBase</servlet-name>
    <url-pattern>/DeleteOfficeBase</url-pattern>
  </servlet-mapping>
</web-app>